
.textBlurb {
    border: 5px solid #0d2f5c!important; 
    border-radius: 16px; 
    padding: 5px; 
    background-color: lightblue !important; 
    font-family: 'Lucida Console', 'Courier New', monospace;
}

.code-style {
    background: #d4bb9f;
    border-style: solid;
    border-width: 2px;
    border-color: #d1ddcd;
    color:#000000
}