---
layout: default
---



<!-- {%- assign categoryType = "tech" -%}
  {% if categoryType == "tech" or categoryType == "general" %}
    <h2>Featured post</h2>
    {%- assign displayOffset = 0 -%}
    {%- assign displayLimit = 1 -%}
    {%- assign sectionName = "featured-post" -%}
    {% include feed.html %}
  {% endif %}


<h1>Featured General Post</h1>
<div class="front-page-general">
    {%- assign categoryType = "general" -%}
    {% if categoryType == "tech" or categoryType == "general" %}
        {%- assign displayOffset = 0 -%}
        {%- assign displayLimit = 1 -%}
        {%- assign sectionName = "featured-post" -%}
        {% include feed.html %}
  {% endif %}
</div> -->