---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title_article | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {%- assign categoryType = page.category -%}
  {% if categoryType == "tech" or categoryType == "general" %}
    <h2>Featured post</h2>
    {%- assign displayOffset = 0 -%}
    {%- assign displayLimit = 1 -%}
    {%- assign sectionName = "featured-post" -%}
    {% include feed.html %}
  {% endif %}


  {%- assign sectionName = "feed" -%}
  {%- assign categoryPosts = site.posts | where: "category", categoryType -%}
  {%- assign numberOfCategoryPosts = categoryPosts.size -%}
  {% if categoryType == "tech" or categoryType == "general" %}
    {% if numberOfCategoryPosts > 1 %}
      {%- assign displayOffset = 1 -%}
      {%- assign displayLimit = null -%}
      {%- assign sectionName = "feed" -%}
      <h2>Posts</h2>
      {% include feed.html %}
    {% endif %}
  {% endif %}

</article>
