---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <h2>Featured post</h2>
  {%- assign categoryType = page.category -%}
  {%- assign displayOffset = 0 -%}
  {%- assign displayLimit = 1 -%}
  {%- assign sectionName = "featured-post" -%}
  {% if categoryType == "tech" or categoryType == "general" %}
      {% include feed.html %}
  {% endif %}

  <h2>Posts</h2>
  {%- assign displayOffset = 1 -%}
  {%- assign displayLimit = null -%}
  {%- assign categoryType = page.category -%}
  {%- assign sectionName = "feed" -%}
  {% if categoryType == "tech" or categoryType == "general" %}
      {% include feed.html %}
  {% endif %}

</article>
